@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ejercicio Web Api - Parte 1</h1>
     
    <div>

        @Html.ActionLink("Ver", "Index", "WebApi", new { area = "" }, new { @class = "btn btn-primary"})
    </div>

</div>


