
@{
    ViewBag.Title = "Index";
}

<div class="alert alert-danger" role="alert">
    <h2>Se produjo un error. Intente nuevamente</h2>

</div>

@Html.ActionLink("Volver", "Index", "Categories", new { @class = "btn btn-primary" })


