
@{
    ViewBag.Title = "Web Api";
}

<div class="alert alert-danger" role="alert">
    <h2>No se pudo establecer conexión con la página. Intente nuevamente</h2>

</div>

@Html.ActionLink("Volver", "Index", "WebApi", new { area = "" }, new { @class = "btn btn-primary" })




