@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ejercicio MVC</h1>

    <div>

        @Html.ActionLink("Ver Lista", "Index", "Categories", new { area = "" }, new { @class = "btn btn-primary"})
    </div>

</div>


